/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	color: rgb(236, 236, 236);
	background: #8cc9ff;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

canvas {
	display: block;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	overflow: hidden;
}

p {
	margin: 0;
}

.bg {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #8cc9ff;
	z-index: 0;
	overflow: hidden;
	background-image: url(assets/WEB_COMPLETE.svg), none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-container {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(3, calc(100%/3));
	grid-template-columns: repeat(4, 25vw);

	grid-template-areas: 
	"contact logo logo empty1" 
	"button1 button1 spider button5"
	"button2 button3 empty2 button4";

}

.grid-item{
	text-align: center;
	align-content: space-around;
	margin: auto auto;
	display:block;
	}

.contact {
	grid-area: contact;
	/* z-index: 2; */
	width: 12vw;
}

.logo {
	z-index: 2;
	width: 50vw;
	grid-area: logo;
}

.empty1 {
	grid-area: empty1;
	background-color: lightcyan;
}

.empty2 {
	grid-area: empty2;
	background-color: lightcyan;
}

.button{
	position: relative;
	/* z-index: 4; */
	width: 22vw;
	
}


.button1 {
	grid-area: button1;
	top: -6%;
}

.button1:hover{
	width: 23vw;
}

.button2 {
	width: 15vw;
	grid-area: button2;
	top: -8%;
}

.button2:hover{
	width: 16vw;
}

.button3 {
	top: -8%;
	right: -5vw;
	grid-area: button3;

}

.button3:hover{
	width: 24vw;
}

.button4 {
	top: -15%;
	left: -10%;
	width: 16vw;
	grid-area: button4;
}

.button4:hover{
	width: 17vw;
}

.button5 {
	top: -25%;
	left: -10%;
	width: 16vw;
	grid-area: button5;
}


.button5:hover{
	width: 17vw;
}

.spider {
	position: relative;
	top: -58%;
	left: -10vw;
	grid-area: spider;
	width: 30vw;	
	/* z-index: 1; */
}

.fly {
	position: absolute;
	width: 6vw;
	/* z-index: 0; */
}

.fly1{
	top: 33%;
	left: 5vw;
}

.fly2{
	top: 10%;
	right: 5vw;
}

.fly3{
	top: 85%;
	left: 55vw;
}

/* reflow for skinny screens */
@media (max-aspect-ratio: 19/20) {
  .grid-container{

		/* background-color: lightseagreen; */
		grid-template-rows: repeat(6, calc(100%/6));
		grid-template-columns: repeat(6, calc(100vw/6));
	
		grid-template-areas: 
		"logo logo logo logo logo logo" 
		"contact contact empty1 spider spider spider"
		"empty2 button1 button1 spider spider spider"
		"button5 empty4 empty4 button2 button2 empty5"
		"button5 button3 button3 button3 button4 button4"
		"empty6 button3 button3 button3 button4 button4";
	}

	.spider {
		top: -10vh;
		width: 50vw;	
	}

	.logo {
		width: 70vw;
	}

	.button{
		width: 30vw;
	}


	.button1{
		top: 0vh;
	}

	.button1:hover{
		width: 32vw;
	}

	.button3 {
		width: 40vw;
		top:5vh;
	}

	.button3:hover{
		width: 42vw;
	}

	.button2 {
		width: 26vw;
	}

	.button2:hover{
		width: 28vw;
	}

	.button4 {
		width: 28vw;
		top: -3%;
		left: 0%;
	}

	.button4:hover{
		width: 30vw;
	}

	.button5 {
		width: 28vw;
		top: 3vh;
		left: 2vw;
	}

	.button5:hover{
		width:30vw;
	}

	.contact {
		width: 18vw;
	}

}