/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	color: rgb(236, 236, 236);
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

canvas {
	display: block;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	overflow: hidden;
}

p {
	margin: 0;
}

.bg {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #8cc9ff;
	z-index: -1;
	overflow: hidden;
	background-image: url(assets/WEB_COMPLETE.svg), none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-container {
	height: 100vh;
	display: grid;
	grid-template-rows: repeat(3, calc(100vh/3));
	grid-template-columns: repeat(4, 25vw);

	grid-template-areas: 
	"contact logo logo empty1" 
	"button1 button1 spider spider"
	"button2 button3 empty2 button4";

}

.grid-item{
	text-align: center;
	align-content: space-around;
	margin: auto auto;
	}

.contact {
	grid-area: contact;
	z-index: 2;
	width: 12vw;
}

.logo {
	z-index: 2;
	width: 50vw;
	grid-area: logo;
}

.empty1 {
	grid-area: empty1;
	background-color: lightcyan;
}

.empty2 {
	grid-area: empty2;
	background-color: lightcyan;
}

.button{
	z-index: 2;
	width: 20vw;
}

.button1 {
	grid-area: button1;
}

.button2 {
	width: 15vw;
	grid-area: button2;
}

.button3 {
	grid-area: button3;
}

.button4 {
	grid-area: button4;
}

.spider {
	position: relative;
	top: -15vh;
	left: -10vw;
	grid-area: spider;
	width: 30vw;	
	z-index: 1;
}

.fly {
	position: absolute;
	width: 6vw;
	z-index: 0;
}

.fly1{
	top: 33vh;
	left: 5vw;
}

.fly2{
	top: 10vh;
	right: 5vw;
}

.fly3{
	top: 85vh;
	left: 55vw;
}
